.venv/
venv/
__pycache__/
*.pyc
.env
instance/
storage/uploads/
storage/patrones/
storage/analizados/
*.db
*.sqlite3
app/static/storage/uploads/
app/static/storage/patrones/
app/static/storage/analizados/